@import "@/styles/variables";

.base {
  position: fixed;
  background: var(--primary);
  width: 100%;
  z-index: var(--navbar-z-index);

  .wrapper {
    display: flex;
    border-bottom: 1px solid var(--gray500);

    .container {
      display: flex;
      position: relative;
      justify-content: space-between;
      width: 90%;
      margin: 0 auto;

      @media screen and (max-width: $viewport-xl) {
        width: 80%;
      }

      @media screen and (max-width: $viewport-lg) {
        width: 85%;
      }

      @media screen and (max-width: $viewport-md) {
        width: 90%;
      }

      .logo {
        display: flex;
        height: var(--navbar-height);
        align-items: center;
        font-weight: 800;
        font-size: 1.5rem;
        color: var(--white);
      }
    }
  }
}
