.newsList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  margin: 2rem 2rem 2rem calc(var(--sidebar-width) + 2rem);
  background: var(--gray200);

  .newsCard {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: white;
    border-radius: var(--border-radius);
    position: relative;
    height: 10rem;

    .newsThumbnail {
      width: 8rem;
      height: 8rem;
      background-color: var(--gray200);
      margin-right: 1rem;
      flex-shrink: 0;
      border-radius: var(--border-radius);
    }

    .newsContent {
      width: 80%;
      display: flex;
      flex-direction: column;

      .newsTitle {
        font-weight: bold;
        font-size: 1.8rem;
        margin-bottom: 0.3rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .newsDescription {
        font-size: 1.2rem;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.nightList {
  background: var(--night2);
  .newsCard {
    background: var(--night3);
    .newsTitle {
      color: var(--white);
    }
    .newsDescription {
      color: var(--white);
    }
  }
}
