.sidebar {
  position: fixed;
  width: 16rem;
  height: 100vh;
  background: var(--gray200);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--black);

  .categoryList {
    list-style: none;

    .categoryItem {
      margin-bottom: 1rem;
      font-size: 1.3rem;
      cursor: pointer;
    }
  }
}
