.sidebar {
  position: fixed;
  width: var(--sidebar-width);
  height: 100vh;
  background: var(--gray200);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--black);

  .categoryList {
    list-style: none;

    .categoryItem {
      margin-bottom: 1.5rem;
      font-size: 1.4rem;
      cursor: pointer;
    }
  }
}
